@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  height: 8vh;
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
}

.logo img{
  height: 150%;
  margin-top: 1vh;
  margin-left: 1vw;
}

.links img{
  height: 80%;
  position: relative;
  top: 1vh;
  padding: 0 2rem;
}

body{
  margin: 0;
  padding: 0;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);  
  height: 100vh;
  overflow: hidden;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  padding-bottom: 3vh;
}

.card h1{
  text-align: center;
  padding: 2vh 0;
  border-bottom: 1px solid silver;
}

.card form{
  padding: 0 3vw;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 3vh 0;
}

.txt_field input{
  width: 100%;
  padding: 0 1px;
  height: 4vh;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.no_passwd a{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
  text-decoration: none;
}

.no_passwd:hover{
  text-decoration: underline;
}

.check{
  margin: 10px 0 20px 5px;
  color: #a6a6a6;
  text-align: center;
}

input[type="submit"]{
  width: 100%;
  height: 5vh;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}

.nav{
  margin: 3vh 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.nav a{
  color: #2691d9;
  text-decoration: none;
}

.nav a:hover{
  text-decoration: underline;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}